
<div class="columns">
  <div class="column is-8">
    <h1 class="title is-1"><%= @category.title %></h1>
      <% if user_signed_in? %>
      <%= link_to 'New Category', new_category_path, class:'button is-danger' %>
      <%= link_to "Edit category: #{@category.title}", edit_category_path(@category), class: 'button is-danger' %>
      <%= link_to 'Delete', @category, class:'button is-danger', method: :delete, data: { confirm: "Are you sure you want to delete this category? " } %>
    <% end %>

  <div id="category-topics">
    <%= render @category.topics %>
  </div>


  </div>
</div>
